<div class="row">
<%= @product.name %><br>
<%= @asset.file_name.file.filename %><br>
<%= image_tag "../uploads/asset/file_name/#{@asset.id}/distorted_#{@asset.file_name.file.filename}" %>
<%# image.crop('436x198+0+0') %>
<%# image.write("public/uploads/asset/file_name/#{@asset.id}/edited_#{@asset.file_name.file.filename}") %>
<!--Blank Image:<br>
<%#= image_tag @product.blank_img_url %><br>

Original:<br>
<%#= image_tag "#{@asset.file_name.url}" %><br>-->

<div class="row">
<div class="large-10 columns">
<%= image_tag "#{@asset.file_name.url}", id: "jcrop-original" %><br>

  <%= hidden_field_tag(:x1, nil, id: 'x1') %>
  <%= hidden_field_tag(:y1, nil, id: 'y1') %>
  <%= hidden_field_tag(:x2, nil, id: 'x2') %>
  <%= hidden_field_tag(:y2, nil, id: 'y2') %>  
  <%= hidden_field_tag(:h, nil, id: 'h') %>
  <%= hidden_field_tag(:w, nil, id: 'w') %>
  <%= hidden_field_tag(:assetid, @asset.id, id: 'assetid') %>
  <%= hidden_field_tag(:realwidth, FastImage.size("public/#{@asset.file_name.url}")[0], id: 'realwidth') %>
  <%= hidden_field_tag(:realheight, FastImage.size("public/#{@asset.file_name.url}")[1], id: 'realheight') %>
</div>
<div class="large-2 columns">
<ul class="side-nav">
  <li><a href="#" id="crop-image" class="button radius">Crop Image</a></li>
</ul>
</div>
</div>
<div class="row panel" id="the-cropped">
</div>

<!--
Cropped:<br>
<%#= image_tag "../uploads/asset/file_name/#{@asset.id}/edited_#{@asset.file_name.file.filename}" %><br>

Composited:<br>
<%# background_img = MiniMagick::Image.open(@product.blank_img_url) %>
<%#
result = background_img.composite(image) do |c|
	c.gravity "Center"
	c.geometry "436x198+-28+-60"
end
result.write("public/uploads/asset/file_name/#{@asset.id}/composited_#{@asset.file_name.file.filename}")
%>
<%#= image_tag "../uploads/asset/file_name/#{@asset.id}/composited_#{@asset.file_name.file.filename}" %><br>

Rotated Blank Image:<br>
<%#
background_img2 = MiniMagick::Image.open(@product.blank_img_url)
background_img2.rotate "90"
background_img2.write("public/uploads/asset/file_name/#{@asset.id}/rotated_#{@asset.file_name.file.filename}")
%>
<%#= image_tag "../uploads/asset/file_name/#{@asset.id}/rotated_#{@asset.file_name.file.filename}" %>
-->
</div>